## Practice for Module 4

In this practice notebook we will look into the concepts that we covered in lab and apply the same on a dataset. We will work with the auto-mpg dataset again for our hands on in this module.

Read the auto-mpg data file into the datframe `auto-mpg`

In [1]:
auto_mpg <- read.csv("../../../datasets/auto-mpg/auto-mpg.csv", header = T, sep=",")

In [2]:
head(auto_mpg)

  mpg cylinders displacement horsepower weight acceleration model.year origin
1  18         8          307      130.0   3504         12.0         70      1
2  15         8          350      165.0   3693         11.5         70      1
3  18         8          318      150.0   3436         11.0         70      1
4  16         8          304      150.0   3433         12.0         70      1
5  17         8          302      140.0   3449         10.5         70      1
6  15         8          429      198.0   4341         10.0         70      1
                   car.name
1 chevrolet chevelle malibu
2         buick skylark 320
3        plymouth satellite
4             amc rebel sst
5               ford torino
6          ford galaxie 500

In [ ]:
What is the