# Introduction to statistics with `R`

This is your first practice notebook in this course. The purpose of this notebook is to apply the commands and knowledge aquired through the lab and videos. Some exercises might introduce new commands and packages to you. The notebook will be incomplete for you start writing the code to modify/produce output.

We will be working with wine dataset. It has 6 independent variables and one dependent variable, price.

Look in the code samples for
```R
<what goes in here>
    or
<replace ... >
```
This is where you should be modifying the code before running it.

## Read in the Data

In [5]:
wine_data <- read.csv('../../../datasets/wine price/wine.csv')
head(wine_data)

  Year Price  WinterRain AGST    HarvestRain Age FrancePop
1 1952 7.4950 600        17.1167 160         31  43183.57
2 1953 8.0393 690        16.7333  80         30  43495.03
3 1955 7.6858 502        17.1500 130         28  44217.86
4 1957 6.9845 420        16.1333 110         26  45152.25
5 1958 6.7772 582        16.4167 187         25  45653.81
6 1959 8.0757 485        17.4833 187         24  46128.64

Now that the data is read in, how would you remove the `Id` column from the dataframe in `R`. Remember, `R` is very flexible so there are several ways to remove columns. Do the following:

**Activity 1**: Find the dimensions (the number of rows and columns) of the data frame. *Hint: You will have to look up the function to do this as it was not mentioned in the lab*.

In [6]:
# Code for Activity 1 goes here -----------------------
dim(wine_data)

[1] 25  7

Below is one of the ways that you can subset a data frame based on a condition. Run the code below to see what it returns.

In [ ]:
head(wine_data[wine_data$Year > 1970,])

**Activity 2**: Subset the wine_data into two dataframes based on the year. Named these dataframes group1 and group2 where group 1 contains data for years less than or equal to 1960 and group2 contains data with year greater than 1960.

In [ ]:
#2 Code for Activity 2 goes here -----------------------
group1 = subset(wine_data[<what goes in here>])
group2 = subset(wine_data[<what goes in here>])

**Activity 3**: Run summary command and identify each variable if its qualitative or quantitative(continous or discrete).

In [ ]:
# Code for Activity 3 goes here -----------------------
summary(wine_data)

````

    **Answer for Activity 3 goes here 
    
----

````

**Activity 4**: *Find out the number of rows where the `Price` is greater than 7.

In [ ]:
# Code for Activity 4 goes here -----------------------
nrow(<what goes in here>)

Let's say we want to know average Age of the wine. 

**Activity 5**: Apply mean() function on the Age variable

In [ ]:
# Code for Activity 5 goes here -----------------------
mean(<what goes in here>)

We want to know the year which has recorded highest price for the wine.

**Activity 6**: Find the maximum price that is recorded in wine dataset and year for the corresponding row. You will have to look up the command. Hint: try which().

In [ ]:
#' Code for Activity 6 goes here -----------------------
wine$Year[which.<what goes in here>]

** Activity 7**: Identify the datatype of each variable in dataframe. You were introduced to this command in Intro to Data Science course or you can look up for this command.

In [ ]:
# Code for Activity 7 goes here -----------------------
sapply(wine_data,<what goes in here>)

**Activity 8**: Check the structure of the dataframe. You have to look up for this command. This command will give you the dimensions of dataframe, type of each variable and intial first 10 values of the variable. Its a very useful command to get a quick overview of dataframe.

In [ ]:
# Code for Activity 8 goes here -----------------------

Lets see how WinterRain variable data is distributed 

**Activity 9**: Plot the distribution of WinterRain variable using a histogram with bin sise of 20. PLot a density curve on top of the histogram.

In [ ]:
# Code for Activity 9 goes here -----------------------

library(ggplot2)
plot = ggplot(data=wine, aes(<what goes in here>)) + 
  geom_histogram(aes(y =<what goes in here>), 
                 breaks=seq(360, 850,<what goes in here>), 
                 col="green", 
                 fill="orange", 
                 alpha = .5) + 
  geom_density(col=2) + 
  
  labs(title="Histogram for Winter Rain") +
  labs(x="Amount of Rain", y="Count")
plot

**Activity 10: ** Draw vertical lines for mean and median of WinterRain in avove plot. You can use the same `plot` object to draw the lines.

In [ ]:
# Code for Activity 10 goes here -----------------------
mean_WinterRain <- mean(wine$WinterRain)
median_WinterRain = median(wine$WinterRain)

plot + geom_vline(<what goes in here>,<replace with color attribute for line>)+
       geom_vline(<what goes in here>,<replace with color attribute for line>)

Is the WinterRain data skewed.

**Activity 11: ** Find the skewness of WinterRain variable.

In [ ]:
# Code for Activity 11 goes here -----------------------
library(moments)
skewness(<what goes in here>)

# Save your notebook!